
.requirements {
    margin: 20px 0px 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.about_content {
    margin: 20px;
}

table {
    /* Add some space around the table */
    margin: 20px;
  
    /* Change the color of the table border */
    border: 1px solid #333;
  
    /* Add some rounded corners to the table */
    border-radius: 5px;
  
    border-collapse: collapse;
    /* Change the font of the table text */
    /*font-family: Arial, sans-serif;*/
    /*font-size: 14px;*/
}
  
th {
    /* Change the background color of the table headings */
    background-color: #333;
    color: #fff;
    border: 1px solid black;
  
    /* Add some padding to the table headings */
    padding: 10px;
}
  
td {
    /* Add some padding to the table cells */
    padding: 10px;
  
    /* Change the text color of the table cells */
    color: #333;
  
    /* Add a border to the right of each table cell */
    border: 1px solid #333;
}
  
td.center {
    padding: 5px;
}
/*
.progress-bar {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
}
  
.progress-bar::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 10px;
}
  
.progress-bar::-webkit-progress-value {
    background-color: blue;
    border-radius: 10px;
}
*/
.progress-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}
  
.progress {
    width: 0;
    height: 100%;
    background-color: #4caf50;
}

input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    margin-right: 5px;
}

.center {
    text-align: center;
}

.list_and_headline {
    margin-top: 20px;
}

.list {
    margin-top: 10px;
}
