
.gallery {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.gallery img {
    /*display: block;*/
    height: 300px;
    transition: transform 0.5s;
    cursor: pointer;
}

.gallery img:hover{
    transform: scale(1.2);
}

.filters{
    display: flex;
    justify-content: center;
}

.filters div{
    padding: 20px;
    cursor: pointer;
}

.filters div:hover{
    font-weight: bold;
}

.selected{
    font-weight: bold;
    text-decoration: underline;
}